---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Intro from "@/components/common/Intro.astro";
import Social from "@/components/common/Social.astro";
import Article from "@/components/article/Article.astro";

import type { ArticlePostLayoutProps } from "@/lib/types";
import ToC from "@/components/article/ToC.astro";
import SideNav from "@/components/common/SideNav.astro";

const {
  author,
  pubDatetime,
  modDatetime,
  title,
  featured,
  draft,
  category,
  tags,
  description,
  heroImage,
  headings,
} = Astro.props as ArticlePostLayoutProps;

import type { SideNavItem } from "@/lib/types";

const nav_item: SideNavItem[] = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Articles",
    href: "/article",
  },
];
---

<BaseLayout title={title} description={description}>
  <div class="flex flex-col lg:flex-row flex-1 flex-wrap">
    <div
      class="py-6 lg:py-20 px-4 lg:px-12 lg:w-2/5 lg:h-screen lg:sticky lg:top-0 flex flex-col lg:justify-between items-center lg:items-start lg:gap-4"
    >
      <Intro />
      <SideNav {nav_item} />
      <ToC {headings} />
      <Social />
    </div>
    <div class="lg:pt-[5.25rem] pb-6 lg:pb-20 px-4 lg:px-8 lg:w-3/5 w-screen">
      <Article
        author={author}
        pubDatetime={pubDatetime}
        modDatetime={modDatetime}
        title={title}
        featured={featured}
        draft={draft}
        category={category}
        tags={tags}
        description={description}
        heroImage={heroImage}
        headings={headings}
      >
        <slot />
      </Article>
    </div>
  </div>
</BaseLayout>
