---
import Project from "@/components/project/Project.astro";
import GoBack from "@/components/core/GoBack.astro";
import HeadSEO from "@/components/core/HeadSEO.astro";
import Menu from "@/components/core/Menu.astro";
import ThemeSelector from "@/components/core/ThemeSelector.astro";

import { LOCALE, SITE } from "@/config";

import type { ProjectData } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";

const {
  title,
  description,
  altDescription,
  pubDatetime,
  modDatetime,
  tags,
  githubRepo,
  documentation,
  featured,
  draft,
  cover,
  coverAlt,
} = Astro.props as ProjectData;
---

<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) : SITE.title}`
      description={description}
      image={cover}
      imageAlt={coverAlt}
      contentType="article"
    />
  </head>

  <body>
    <main class="flex items-center">
      <div class="z-30 fixed top-0 right-0">
        <Menu />
      </div>
      <div class="z-30 fixed top-0 left-0">
        <GoBack url="/project" />
      </div>
      <div class="z-30 fixed bottom-0 right-0">
        <ThemeSelector />
      </div>
      <div class="z-10 w-full">
        <Project
          title={title}
          description={description}
          altDescription={altDescription}
          pubDatetime={pubDatetime}
          modDatetime={modDatetime}
          tags={tags}
          githubRepo={githubRepo}
          documentation={documentation}
          featured={featured}
          draft={draft}
          cover={cover}
          coverAlt={coverAlt}
        >
          <slot />
        </Project>
      </div>
    </main>
  </body>
</html>
